modLoader="kotlinforforge"
loaderVersion="[1.6.2,)"
license="All rights reserved"

[[mods]] #mandatory
modId="hardcoredungeons" #mandatory
version="${file.jarVersion}" #mandatory
displayName="Hardcore Dungeons" #mandatory
logoFile="logo.png" #optional
# A text field displayed in the mod UI
credits="Herobrine knows all." #optional
# A text field displayed in the mod UI
authors="TheDarkColour and genericrandom64" #optional
# The description text for the mod (multi line!) (#mandatory)
description='''
Adds lots of exploration related content to the game.
'''
# A dependency - use the . to indicate dependency for a specific modid. Dependencies are optional.
[[dependencies.hardcoredungeons]] #optional
    # the modid of the dependency
    modId="forge" #mandatory
    # Does this dependency have to exist - if not, ordering below must be specified
    mandatory=true #mandatory
    # The version range of the dependency
    versionRange="[34.1,)" #mandatory
    # An ordering relationship for the dependency - BEFORE or AFTER required if the relationship is not mandatory
    ordering="NONE"
    # Side this dependency is applied on - BOTH, CLIENT or SERVER
    side="BOTH"
# Here's another dependency
[[dependencies.hardcoredungeons]]
    modId="minecraft"
    mandatory=true
    versionRange="[1.16.3]"
    ordering="NONE"
    side="BOTH"
[[dependencies.hardcoredungeons]]
    modId="curios"
    mandatory=true
    versionRange="[FORGE-1.16.3-4.0,)"
    ordering="NONE"
    side="BOTH"